*{
    box-sizing: border-box;
    margin:0;
}

:root {
    --heights : 80vh;
    --widths: 100%;
}

.slider-container {
    height: var(--heights);
    width: var(--widths);
    position: relative;
    margin:auto;
    overflow:hidden;
}

.active{
    display: inline-block;
}

.inactive{
    display:none;
}

.slides{
    height: var(--heights);
    width: var(--widths);
    position: relative;
}

.slide-image{
    width: 100%;
    height:100%;
    position: absolute;
    object-fit: cover;
}

.slide-title{
    width:80%;
    height:200px;
    color:white;
    font-size: 30px;
    position:absolute;
    text-align:center;
    top:35%;
    left: 10%;
    z-index: 10;
    background-color: rgba(0,0,0,0.3);
}

.slide-sub-title{
    width:80%;
    color:white;
    font-size: 25px;
    position:relative;
    text-align:center;
    left: 10%;
    top:55%;
    z-index: 15;
    margin-bottom: 10px;
}

.slide-text{
    top:65%;
    font-size: 2rem;
}

.prev, .next{
    cursor: pointer;
    z-index:100;
    position: absolute;
    top: 50%;
    width:auto;
    padding:1rem;
    margin-top: -3rem;
    font-size: 30px;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
}

.prev:hover, .next:hover{
    color:white;
    background-color: rgba(0,0,0,0.6);
    transition: all 0.5s ease-in-out;
}

.next{
    right:0;
    border-radius: 5px 0px 0px 5px;
}

.all-dots{
    width:100%;
    height:100%;
    position:absolute;
    display: flex;
    top:85%;
    justify-content: center;
    z-index:200;
}

.dot{
    cursor: pointer;
    width:1rem;
    height:1rem;
    margin:0px 3px ;
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
    display: inline-block;
}

.active-dot,
.dot:hover{
    background-color: rgba(255,255,255,0.5);;
}