.dropdown-menu {
    background: red;
    width: 200px;
    height:20px;
    position: absolute;
    top:140px;
    list-style: none;
    text-align: start;
    z-index: 100;
    border-radius: 1rem;
    
  }
  
  .dropdown-menu li {
    background: #969ca2;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #5cabff;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 6px;
    border-radius: 0.5rem;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }